modules = ["python-3.11", "flutter", "postgresql-16"]

[nix]
channel = "stable-24_05"
packages = ["SDL2", "SDL2_image", "SDL2_mixer", "SDL2_ttf", "glibcLocales", "libcxx", "mtdev", "pkg-config", "gt"]

[deployment]
deploymentTarget = "autoscale"
run = ["streamlit", "run", "app.py", "--server.port", "5000"]

[workflows]

[[workflows.workflow]]
name = "Run Flutter"
author = 40507595
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "export PATH=\"$PATH:/opt/flutter/bin\""

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "flutter pub get"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "flutter run --web-port=5000 --web-hostname=0.0.0.0"

[[ports]]
localPort = 5000
externalPort = 80
